@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply cursor-pointer hover:underline;
  }

  .button {
    @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border 
    border-yellow-300 rounded-sm focus:outline-none focus:ring-1 focus:ring-yellow-500 
    active:from-yellow-500 active:to-yellow-200;
  }

  .top {
    margin-top: 6.5rem;
  }
}

::-webkit-scrollbar {
  height: 8px; /* height of horizontal scrollbar ← You're missing this */
  width: 8px; /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-thumb {
  background: rgb(199, 199, 199);
  border-radius: 10px;
}
